<md-card flex-offset="20" flex="60">
    <img src="https://images.pexels.com/photos/5775/calculator-scientific.jpg?dl&fit=crop&w=1280&h=853" class="md-card-image" style="height: 480px">
    <md-card-title>
        <md-card-title-text>
            <span class="md-display-1">Calculus I</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p><b>About the Course:</b>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit lacus ac mi luctus efficitur. Nulla lacinia sapien nec finibus tincidunt. Morbi volutpat diam tellus, ac pulvinar risus molestie vitae. Aenean tristique lacus sit amet diam fermentum ultricies. Nam in tortor commodo, ultrices felis ut, mollis tellus. Donec tellus ligula, consectetur id mi sit amet, sollicitudin egestas leo. Quisque eget massa odio. Sed lobortis eros in nibh pharetra consequat. Morbi id mauris feugiat, blandit velit a, dignissim lectus. Quisque a massa venenatis, venenatis risus et, fringilla massa.

            Donec a est nec tortor blandit commodo id quis mi. Curabitur malesuada id arcu sed tincidunt. Aliquam erat volutpat. Donec et purus tincidunt, malesuada tortor non, sodales libero. Morbi auctor non velit viverra lobortis. Pellentesque viverra at lectus quis ultrices. Ut molestie gravida nisi et pretium. Nunc semper convallis mattis. Nulla et leo vel ex egestas pellentesque eget eu lectus. Aliquam consequat iaculis nisl vitae feugiat.
        </p>
    </md-card-content>
</md-card>
<div layout="row" flex-offset="20" flex="60">
    <span class="md-display-1" style="padding: 40px 16px 8px">Tutors</span>
</div>
<md-card layout="column" flex-offset="20" flex="60" ng-repeat="tutor in tutors track by $index"
         style="transition: height ease 0.5s;" ng-class="open?'open-card':'closed-card'">
    <div layout="row" layout-align="start center" md-colors="{color: 'grey-800'}" layout-margin>
        <img src="https://s3-us-west-1.amazonaws.com/udacity-content/instructor/chris-lei@2x-a286e7c.jpg" style="height: 128px" redirect="Tutor">
        <div layout="column" flex="30" redirect="Tutor">
            <span class="md-title"><md-icon md-font-icon="fa fa-user fa-fw"></md-icon>Chris Lei ({{ $index + 1 }})</span>
            <span class="md-subhead"><md-icon md-font-icon="fa fa-address-card fa-fw"></md-icon>Product Manager</span>
            <span class="md-subhead"><md-icon md-font-icon="fa fa-calendar fa-fw"></md-icon>654 Sessions</span>
            <span class="md-subhead"><md-icon md-font-icon="fa fa-book fa-fw"></md-icon>26 Courses</span>
        </div>
        <div layout="column" flex redirect="Tutor">
            <span class="md-subhead">
                <md-icon md-font-icon="fa fa-star fa-fw"></md-icon>
                <b style="margin-right: 12px">Students' Ratings:</b>
                <md-icon md-font-icon="fa fa-star"></md-icon>
                <md-icon md-font-icon="fa fa-star"></md-icon>
                <md-icon md-font-icon="fa fa-star"></md-icon>
                <md-icon md-font-icon="fa fa-star-half-o"></md-icon>
                <md-icon md-font-icon="fa fa-star-o"></md-icon>
            </span>
            <span class="md-subhead">
                <md-icon md-font-icon="fa fa-language fa-fw"></md-icon>
                <b style="margin-right: 12px">Languages:</b> Chinese, English
            </span>
        </div>
        <md-button class="md-raised md-primary" ng-click="open = !open" layout-padding>Book A Session</md-button>
    </div>
    <div id="tutor{{ $index }}" layout="row" class="book-session" layout-margin ng-show="open">
        <md-datepicker ng-model="date" md-open-on-focus></md-datepicker>
        <md-button class="md-raised md-warn md-hue-2" ng-click="addToCart(2)">From 2pm to 3pm</md-button>
        <md-button class="md-raised md-warn md-hue-2" ng-click="addToCart(3)">From 3pm to 4pm</md-button>
        <md-button class="md-raised md-warn md-hue-2" ng-click="addToCart(5)">From 5pm to 6pm</md-button>
        <md-button class="md-raised md-warn md-hue-2" ng-click="addToCart(6)">From 6pm to 7pm</md-button>
    </div>
</md-card>