#logo {
    margin-right: 32px;
    font-family: 'Satisfy';
    font-size: 24px;
}

[ng-click], [redirect] {
    cursor: pointer;
}

#banner {
    height: 640px;
    width: 100%;
    background-position: bottom;
    background-image: url(https://images.pexels.com/photos/232/apple-iphone-books-desk.jpg?dl&fit=crop&w=1920&h=1288);
}

md-pagination-wrapper, md-tab-item {
    width: 100%;
    background-color: white;
}

md-dialog .md-toolbar-tools {
    max-height: 100%;
    padding: 0 24px;
    font-size: 28px;
}

.fa-fw {
	margin-right: 8px;
	margin-bottom: 8px
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
    margin-top: -56px;
}

calendar-md .layout-padding > div.flex,
calendar-md .layout-padding {
    padding: 0;
}

calendar-md .calendar > div[ng-repeat] > div {
    position: relative;
    box-shadow: none;
}

calendar-md .calendar > div[ng-repeat] > div button {
    width: 35%;
    min-width: 30px;
    height: 35%;
    min-height: 30px;
    position: absolute;
}

.book-session {
    transition: all 0.4s ease;
    overflow: hidden;
}

.book-session.ng-animate {
    display: none;
}

.closed-card {
    height: 160px;
}

.open-card {
    height: 240px;
}