<div ng-controller="courses">
    <div layout-padding></div>
    <md-card flex-offset="30" flex="40" layout="row" layout-padding layout-align="start center" ng-repeat="(key, tutor) in tutors" ng-click="goToTutor(key)" ng-if="tutor.tutor">
        <img src="{{ tutor.pic }}" flex="20">
        <div layout="column" flex>
            <span class="md-title"><md-icon md-font-icon="fa fa-user fa-fw"></md-icon>{{ tutor.name }}</span>
            <span class="md-subhead"><md-icon md-font-icon="fa fa-address-card fa-fw"></md-icon>Product Manager</span>
            <span class="md-subhead"><md-icon md-font-icon="fa fa-calendar fa-fw"></md-icon>{{ lengthOf(tutor.sessions) }} Sessions</span>
            <span class="md-subhead"><md-icon md-font-icon="fa fa-book fa-fw"></md-icon>{{ lengthOf(tutor.teaches) }} Courses</span>
        </div>
        <div layout="column" flex="nogrow">
            <span class="md-subhead">
                <md-icon md-font-icon="fa fa-star fa-fw"></md-icon>
                <b style="margin-right: 12px">Students' Ratings:</b>
                <md-icon md-font-icon="fa fa-star"></md-icon>
                <md-icon md-font-icon="fa fa-star"></md-icon>
                <md-icon md-font-icon="fa fa-star"></md-icon>
                <md-icon md-font-icon="fa fa-star-half-o"></md-icon>
                <md-icon md-font-icon="fa fa-star-o"></md-icon>
            </span>
            <span class="md-subhead">
                <md-icon md-font-icon="fa fa-language fa-fw"></md-icon>
                <b style="margin-right: 12px">Languages:</b> {{ tutor.languages }}
            </span>
        </div>
    </md-card>
</div>