<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.css">
        <!-- Satisfy Google Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy">
        <!-- Our Style Sheets -->
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body ng-app="UOSTutors" ng-cloak>
        <md-toolbar ng-controller="toolbar" class="md-hue-2" layout="row">
            <div class="md-toolbar-tools" flex-offset="20" flex="60">
                <span id="logo">UOS Tutors</span>
                <a href="#" style="margin-right: 24px">Tutors</a>
                <md-autocomplete md-items="subject in subjects" md-item-text="subject" placeholder="Search a Subject">
                    <md-item-template>{$ subject $}</md-item-template>
                </md-autocomplete>
                <span flex></span>
                <md-button class="md-button">Login</md-button>
                <md-button class="md-button">Sign Up</md-button>
            </div>
        </md-toolbar>
        <div ng-controller="pageLoad" ng-include="url"></div>
		<footer md-colors="{background: 'primary-400'}">
			<div flex-offset="20" flex="60" layout="row" layout-align="space-between center" layout-padding>
				<p>Privacy Policy<br>
				Satellite imagery: © 2014 Astrium, DigitalGlobe<br>
					Some features and devices may not be available in all areas.</p>
				<div>icons</div>
			</div>
		</footer>

        <!-- Angular Material requires Angular.js Libraries -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-animate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-aria.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js"></script>
        <!-- Font Awesome Icon Pack -->
        <script src="https://use.fontawesome.com/33a5a1ecd9.js"></script>

        <!-- Our Angular App -->
        <script src="/static/app.js"></script>
    </body>
</html>
